#categories_main{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}

.category_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row{
    width: 100%;
    display: flex;
    gap: 20px;
}
.col{
    width: 50%;
}

@media (max-width: 571px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
    }

}
