.UpDom{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
    border: 1px solid var(--g100);
    padding: 26px 20px;
    border-radius:12px;
    margin: auto;
}

.UpDom form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.UpDomTitle{
    animation-delay: .2s;
}

form .inputDom{
    animation-delay: .3s;
}

form .inputDom:nth-child(2){
    animation-delay: .4s;
}

/* #navbar{
    display: none;
} */

.UpButton{
    background-color: var(--heading-brand);
    width: 100%;
    padding: 15px 24px;
    text-align: center;
    color: var(--heading-secondary);
    border-radius: 24px;
    transition: .2s ease;
    cursor: pointer;
    user-select: none;
    /* border: 2px solid var(--heading-brand); */
    animation-delay: .2s;
}

.UpButton:hover{
    background-color: var(--p100);
    color: var(--heading-brand);
}

.UpButton:active{
    background-color: var(--p200);
}