.fadein {
  animation-name: fadein;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.74, -0.43, 0, 1.7);
  animation-duration: 1s;
}
.swipeDown {
  animation-name: swipedown;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.74, -0.43, 0, 1.7);
  animation-duration: 0.5s;
  transform-origin: top;
}
.swipeUp {
  animation-name: swipeup;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.74, -0.43, 0, 1.7);
  animation-duration: 0.5s;
  transform-origin: top;
}

.slideRight {
  display: block;
  animation-name: slideRight;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.74, -0.43, 0, 1.7);
}

.displayOut {
  animation-name: displayout;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
}

.domFadein{
  animation-name: domFadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease;
}

/* .arrowSlideLeft {
  animation-name: arrowSlideLeft;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.74, -0.43, 0, 1.7);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
} */

.spreadIn{
  animation-name: spreadin;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swipedown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes swipeup {
  0% {
    transform: scaleY(1);
  }
  99% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes displayout {
  100% {
    display: none;
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
  }
  99% {
    transform: translateX(20rem);
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes arrowSlideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  51% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes arrowSlideRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  51% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes domFadeIn{
  0%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slideIn{
  0%{
    display: block;
    opacity: 0;
    transform: translateX(20rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spreadin {
  0%{
    opacity: 0;
    letter-spacing: 1rem;
  }
  100%{
    opacity: 1;
    letter-spacing: normal;
    transform: translateY(0rem);
  }
}