.fadein{
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.74,-0.43,0,1.7);
    animation-duration:1s;
}
.swipeDown{
    animation-name: swipedown;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.74,-0.43,0,1.7);
    animation-duration:0.5s;
    transform-origin: top;
}
.swipeUp{
    animation-name: swipeup;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.74,-0.43,0,1.7);
    animation-duration:0.5s;
    transform-origin: top;
}

.slideRight{
    animation-name: slideRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.74,-0.43,0,1.7);
}

.displayOut{
    animation-name: displayout;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.fadeOut{
    animation-name: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes swipedown {
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
        opacity:1;
    }
}

@keyframes swipeup {
    0%{
        transform: scaleY(1);
    }
    99%{
        transform: scaleY(0);
        opacity:0;
    }
    100%{
        display: none;
    }
}

@keyframes displayout {
    100%{
        display: none;
    }
}

@keyframes slideRight {
    0%{
        opacity: 1;
    }
    99%{
        transform: translateX(20rem);
        opacity: 0;
    }
    100%{
        display: none;
    }
}

@keyframes fadeout{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        display: none;
    }

}