.card {
    border-radius: 6px;
    padding: 16px;
    width: 100%;
    max-height: 431px;
    height: 100%;
    background-color: #F3F4F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_container{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -16px;
}

.card-image {
    border-radius: 8px;
}

.card-content {
    margin-top: 16px;
    margin-left: 40px;
}

.heading-04 {
    margin-bottom: 20px;
}

.card-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #0056b3;
}

.card .custom-button-arrow {
    fill: black !important;
}

.card.small {
    flex-direction: column-reverse;
}


.Link{
    text-decoration: none;
}

@media (max-width: 834px) {
    .card-content .heading-04{
        font-size: 25px !important;
    }
}
@media (max-width: 410px) {
    .card-content .heading-04{
        font-size: 25px !important;
    }
    .card-content{
        margin-left: 20px;
    }
}

@media (min-width: 1410px) {
    .card-image{
        max-width: 350px;
    }
}
