.card {
    border-radius: 6px;
    padding: 16px;
    width: 100%;
    height: 431px;
    background-color: #F3F4F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: -16px;
}

.card-content {
    margin-top: 16px;
    margin-left: 40px;
}

.heading-04{
    margin-bottom: 20px;
}

.card-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #0056b3;
}

.card  .custom-button-arrow{
    fill: black !important;
}
