.panelPage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

@media only screen and (max-width: 1538px) {
    .panelPage {
        gap: 24px;
    }
}

@media only screen and (max-width: 1384px) {
    .panelPage {
        gap: 10px;
    }
}

@media only screen and (max-width: 958px) {
    .panelPage {
        gap: 20px;
    }
}

@media only screen and (max-width: 570px) {
    .panelPage {
        gap: 16px;
    }
}

