.CheckOutDom{
    padding: 24px 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 32px;
}

.CheckOutInfo{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: baseline;
    width: 100%;
}

.CheckOutInfo .CheckOutInfoInput{
    width: 100%;
}

.CheckOutInfo .CheckOutInfoHeading{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CheckOutInfoHeading span:nth-child(1){
    color: var(--heading-main);
}

.CheckOutInfoHeading div span:nth-child(1){
    color: var(--body-sub);
}

.CheckOutInfoHeading div span:nth-child(2){
    color: var(--heading-brand);
    user-select: none;
    transition: .3s ease;
    position: relative;
    cursor: pointer;
}

.CheckOutInfoHeading div span:nth-child(2)::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid var(--heading-brand);
    transition: .3s ease;
}

.CheckOutInfoHeading div span:nth-child(2):hover::after{
    width: 100%;
}

.CheckOutShipping{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.CheckOutShipping .CheckOutShippingCountry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.CheckOutButton{
    background-color: var(--heading-brand);
    text-align: center;
    color: var(--heading-secondary);
    width: 100%;
    padding: 12px 24px;
    transition: .3s ease;
    border-radius: 24px;
    cursor: pointer;
    user-select: none;
    border: 2px solid var(--heading-brand);
}

.CheckOutButton:hover{
    background-color: transparent;
    color: var(--heading-brand);
}