.resetPasswordDom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.resetPasswordImg{
    width: 50%;
}

.resetPasswordImg img{
    width: 100%;
}

.resetPasswordBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
}

.resetPasswordBody form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* justify-content: center; */
    gap: 24px;
}

.resetButton{
    background-color: var(--heading-brand);
    width: 100%;
    padding: 13px 20px;
    border: 2px solid var(--heading-brand);
    border-radius: 300px;
    text-align: center;
    transition: .3s ease;
    user-select: none;
    cursor: pointer;
}

.resetButton:hover{
    background-color: var(--transparent);
}

.resetButton span{
    transition: .4s ease;
    color: var(--heading-secondary);
}
.resetButton:hover span{
    color:var(--heading-brand);
}

.redirectLogin{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.redirectLogin span{
    color: var(--body-sub);
}

.redirectLogin a{
    text-decoration: none;
    color: var(--heading-brand);
    transition: .3s ease;
    position: relative;
}

.redirectLogin a::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--heading-brand);
    width: 0;
    height: 100%;
    transition: .3s ease;
}

.redirectLogin a:hover::after{
    width: 100%;
}
